:root {
    --color-button: #000;

}



.container-form-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'name     name'
                         'email     email';
                         width: 500px;
}


.grid-form{
    grid-area: name;
}
